<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>


    <div class="digg_pagination">
    <div class="page_info" style="background-color:#337ab7;color:white;">
      <%= page_entries_info @products %>
    </div>
    <%= will_paginate @products %>
  </div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.desc %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <td><%= link_to 'Download as .xlsx', products_path(format: :xlsx) %></td>
        <td><%= link_to 'Download Docx', products_path(format: "docx") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
